.button{
	position: relative;
	display: inline-block;
	@extend .fsize15;
	padding: ($space) ($space*2);
	@include border-radius(4px);
	-webkit-appearance: none;
	border: none;
	@extend .semiboldFont;
	outline: none;
	span{
		position: relative;
		z-index: 2;
	}
	&:before , &:after{
		content: "";
		@include border-radius(4px);
	}
}

.btn-1{
	@extend .button;
	background-color: $tone-alpha;
	color: $tone-white;
	border: 2px solid $tone-white;
	.no-touch &:hover , .touch &:active , &.link-touch{
		background-color: $tone-white;
		color: $tone-main;
	}
}

.btn-2{
	@extend .button;
	background-color: $tone-main;
	color: $tone-white;
	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background-color: $tone-main-dark;
		z-index: 1;
		@include transition(all 0.2s ease-out);
	}
	.no-touch &:hover , .touch &:active , &.link-touch{
		color: $tone-white;
		&:before{
			width: 100%;
		}
	}
}

.btn-3{
	@extend .button;
	background-color: $tone-main;
	color: $tone-white;
	.no-touch &:hover , .touch &:active , &.link-touch{
		background-color: $tone-main-dark;
		color: $tone-white;
	}
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
	-webkit-appearance: none;
}