@import "font-icon";
@import "space";
@import "mixin";
@import "font";
@import "typography";
@import "color";
@import "button";
@import "form";
@import "animate";

html,body{
	height: 100%;
}

body {
	height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	overflow: auto;
  	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 62.5% ;
	line-height: 1;
	font-weight:normal;
	background-color: #ffffff;
	overflow-x: hidden;
	&.top-nav-active{
		overflow: hidden;
		.band{
			opacity: 1;
			visibility: visible;
		}
		.top-nav{
			top: 0;
			ul{
				li{
					&:nth-child(1){
						a{
							@extend .icon-cancel;
						}
					}
				}
			}
		}
	}
	&.mobile-menu-active{
		overflow: hidden;
		#sidebar{
			left: 0;
		}
		header{
			.menu{
				@extend .icon-cancel;
			}
		}
		.band{
			opacity: 1;
			visibility: visible;
		}
	}
}

.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

*{
	box-sizing: border-box;
	@include transition(all 0.2s ease-out);
}

a{
	text-decoration: none;
	&:hover , &:active , &:focus{
		text-decoration: none;
	}
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

$sidebarWidth: 30%;
@media screen and (min-width: 1300px) {
}
@media screen and (max-width: 1299px) {
	$sidebarWidth: 40%;
}


.top-nav{
	position: fixed;
	top: -$space*10;
	left: 0;
	width: 100%;
	height: $space*10;
	padding: ($space) ($space*4);
	background-color: $tone-main;
	text-align: center;
	@include transition(all 0.2 ease-out);
	z-index: 1001;
	.search-form{
		position: relative;
		display: inline-block;
		width: 70%;
		z-index: 1001;
		input[type=text]{
			display: block;
			width: 100%;
			height: 64px;
			border: 1px solid $tone-alpha;
			@include border-radius(4px);
			padding-right: $space*8;
			padding-left: $space*2;
			@extend .fsize15;
			color: $tone-black;
			outline: none;
		}
		input[type=submit]{
			position: absolute;
			right: 8px;
			top: 0;
			background-color: $tone-alpha;
			color: $tone-main;
			border: none;
			border-bottom: 1px solid $tone-main;
			@extend .fsize15;
			padding: 20px ($space*2) 0;
			outline: none;
			@extend .semiboldFont;
		}
	}
	nav{
		position: absolute;
		right: 0;
		top: $space*11;
		z-index: 1001;
		ul{
			display: inline-block;
			padding: 0;
			margin: 0;
			li{
				float: left;
				margin-right: $space;
				a{
					position: relative;
					display: block;
					width: 64px;
					height: 64px;
					background-color: $tone-main;
					text-align: center;
					&:before{
						position: absolute;
						color: $tone-white;
						left: 50%;
						margin-left: -0.5em;
						top: 50%;
						margin-top: -0.5em;
						@extend .fsize24;
					}
					.no-touch &:hover , .touch &:active{
						background-color: $tone-main-dark;
					}
				}
				&:nth-child(1){
					a{
						@extend .before-icon;
						@extend .icon-search;
					}
				}
				&:nth-child(2){
					a{
						@extend .before-icon;
						@extend .icon-github;
					}
				}
			}
		}
	}
	.close{
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 ($space*3);
		color: $tone-white;
		@extend .fsize24;
		line-height: 80px;
		cursor: pointer;
		@extend .before-icon;
		@extend .icon-cancel;
	}
	@media screen and (max-width: 991px) {
		height: 64px;
		nav{
			display: none;
		}
		.close{
			display: block;
			line-height: 64px;
		}
		.search-form{
			input[type=text] {
				height: 48px;
			}
			input[type=submit] {
				padding-top: 15px;
				font-size: 1.3em;
			}
		}
	}
	@media screen and (max-width: 639px) {
		padding: $space ($space*2);
		.search-form{
			float: left;
			width: 80%;
		}
	}
}

header{
	display: block;
	position: fixed;
	left: 0;
	top: -64px;
	z-index: 1000;
	width: 100%;
	height: 64px;
	background-color: $tone-main;
	@include transition(all 0.2s ease-out);
	.menu{
		float: left;
		padding: 0 ($space*3);
		color: $tone-white;
		cursor: pointer; 
		@extend .fsize24;
		line-height: 64px;
		@extend .before-icon;
		@extend .icon-menu;
	}
	.logo{
		display: block;
		position: absolute;
		width: 200px;
		height: 64px;
		left: 50%;
		margin-left: -100px;
		background: url("../../img/logo-small.png") no-repeat center center;
		background-size: 100% auto;
	}
	nav{
		float: right;
		ul{
			display: inline-block;
			li{
				float: left;
				a{
					color: $tone-white;
					padding: 0 ($space*2);
					@extend .fsize24;
					line-height: 64px;
					@extend .before-icon;
					&.search{
						@extend .icon-search;
					}
					&.github{
						@extend .icon-github;
					}
				}
			}
		}
	}
	@media screen and (max-width: 991px) {
		top: 0;
	}
	@media screen and (max-width: 639px) {
		.logo{
			width: 120px;
			margin-left: -85px;
		}
	}
}

#sidebar{
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: $sidebarWidth;
	height: 100%;
	background-color: $tone-main;
	padding: $space*4;
	z-index: 2;
	.wrapper{
		width: 320px;
		float: right;
	}
	.logo{
		display: block;
		width: 100%;
		height: 120px;
		background: url("../../img/logo.png") no-repeat center center;
		background-size: 100% auto;
	}

	@media screen and (max-width: 1299px) {
		width: 40%;
		&:before , &:after{
			width: 40%;
		}
	}
	@media screen and (max-width: 991px) {
		width: 320px;
		left: -320px;
		z-index: 2000;
		padding: $space*2;
		height: calc(100% - 64px);
		.logo{
			display: none;
		}
		.wrapper{
			width: 100%;
		}
	}
	@media screen and (min-width: 991px) {
			&:before{
				content: "";
				position: fixed;
				left: 0;
				top: 0;
				width: $sidebarWidth;
				height: 48px;
				z-index: 1;
				@include linear-gradient($tone-main,$tone-alpha);
			}
			&:after{
				content: "";
				position: fixed;
				left: 0;
				bottom: 0;
				width: $sidebarWidth;
				height: 48px;
				z-index: 1;
				@include linear-gradient($tone-alpha,$tone-main);
			}
	}
}

#content{
	position: relative;
	width: 100%;
	margin-left: $sidebarWidth;
	float: left; 
	z-index: 1;
	padding-left: $space*4;
	padding-top: $space*4;
	padding-bottom: $space*4;
	max-width: 880px;
	@media screen and (max-width: 1299px) {
		margin-left: 40%;
		max-width: 540px;
	}
	@media screen and (max-width: 991px) {
		margin-left: 0;
		max-width: 100%;
		padding: ($space*8) ($space*2) ($space*4);
	}
}

.box{
	padding: $space*2 0;
	h3{
		@extend .fsize24;
		@extend .semiboldFont;
		color: $tone-white;
		padding-bottom: $space+1;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			a{
				display: block;
				position: relative;
				color: $tone-white;
				@extend .fsize15;
				padding: $space/2 0;
				&:before{
					content: "";
					position: absolute;
					left: -5%;
					top: 0;
					width: 0;
					height: 100%;
					background-color: $tone-main-dark;
					z-index: -1;
					@include transition(all 0.2s ease-out);
				}
				.no-touch &:hover , .touch &:active{
					&:before{
						width: 105%;
					}
				}
			}
		}
	}
	@media screen and (max-width: 991px) {

	}
}

.panel{
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(33,33,33,0.1);
	padding: $space*3 0;
	img{
		max-width: 100%;
	}
	.title{
		&>*{
			color: $tone-black;
			@extend .fsize32;
			@extend .semiboldFont;
			a{
				display: block;
				color: $tone-black;
				font-size: 1em;
			}
		}
	}
	.info{
		display: block;
		width: 100%;
		ul{
			display: inline-block;
			li{
				position: relative;
				float: left;
				margin-right: $space*3;
				@extend .fsize13;
				@extend .semiboldFont;
				padding-left: $space*3;
				@extend .before-icon;
				color: $tone-reg-light;
				a{
					font-size: 1em;
					color: $tone-reg-light;
				}
				&.date{
					@extend .icon-calendar;
				}
				&.category{
					@extend .icon-tags;
				}
				&.comment{
					@extend .icon-comment;
				}
				&:before{
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -0.5em;
					font-size: 1.3em;
				}
			}
		}
	}
	.content{
		&>*{
			@extend .regularFont;
		}
		p{
			@extend .fsize16;
			color: $tone-reg;
		}
	}
}

.pagination{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: $space*4;
	ul{
		display: inline-block;
		li{
			float: left;
			margin-right: $space;
			a{
				display: block;
				width: $space*5;
				height: $space*5;
				@extend .fsize15;
				line-height: $space*5;
				color: $tone-main;
				@include border-radius(4px);
				&.active{
					background-color: $tone-lighten;
				}
			}
		}
	}
}

.comments{
	display: block;
	width: 100%;
	h2{
		@extend .fsize24;
		padding: ($space*2) 0;
	}
	ul,ol{
		display: inline-block;
		li{
			position: relative;
			color: $tone-black;
			padding-bottom: $space*2;
			margin-bottom: $space*2;
			a{
				color: $tone-main;
			}
			h4,cite.fn{
				@extend .fsize15;
			}
			span{
				&.date{
					@extend .fsize12;
				}
			}
			.comment-meta.commentmetadata{
				@extend .fsize13;
			}
			.comment-reply-link{
				color: $tone-black;
				@extend .fsize13;
			}
			p{
				@extend .fsize15;
				color: $tone-black;
			}
			.content{
				@extend .fsize15;
			}
			&:after{
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 50%;
				height: 1px;
				background-color: rgba(33,33,33,0.1);
			}
		}
	}
	.comment-author.vcard{
		span.says{
			display: none;
		}
	}
}

.new-comment{
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(33, 33, 33, 0.1);
	h2{
		@extend .fsize24;
		padding: ($space*2) 0;
	}
	div{
		display: block;
		width: 100%;
		padding: $space*2 0;
		label{
			display: block;
			float: none;
			@extend .fsize15;
			@extend .semiboldFont;
			color: $tone-black;
			padding-bottom: $space;
		}
		input[type=text],textarea{
			width: 50%;
			min-width: 320px;
			height: $space*5;
			border: 1px solid $tone-black;
			@include border-radius(4px);
			outline: none;
			padding: 0 $space*2;
			@extend .fsize15;
		}
		textarea{
			padding-top: $space;
			padding-bottom: $space;
			height: 120px;
			resize: none;
		}
	}
}

.band{
	opacity: 0;
	visibility: hidden;
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33,33,33,0.5);
	z-index: 1000;
	@include transition(all 0.2 ease-out);
}

.inner-box{
	display: block;
	width: 100%;
	padding-bottom: $space*2;
	border-bottom: 1px solid rgba(33, 33, 33, 0.1);
	h2{
		@extend .fsize24;
		padding: ($space*2) 0;
	}
	.box-wrapper{
		display: block;
		width: 100%;
		min-height: 80px;
	}
}

.page-title{
	position: relative;
	display: inline-block;
	@extend .fsize32;
	color: $tone-black;
	@extend .semiboldFont;
	padding: 0;

	&:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 50%;
		height: 1px;
		background-color: rgba(33,33,33,0.1);
	}
}

/* wordpress comment template */
.avatar.avatar-32.photo{
	display: none;
}

.commentlist{
	margin: 0;
	padding: 0;
	list-style: none;
}

#reply-title{
	@extend .fsize24;
	color: $tone-black;
	@extend .semiboldFont;
}

.comment-notes{
	@extend .fsize15;
	color: $tone-black;
	@extend .regularFont;
}

.comment-form{
	&>p{
		label{
			display: block;
			@extend .fsize15;
			float: none;
			color: $tone-black;
			padding-bottom: $space;
			@extend .semiboldFont;
		}
		input[type=text],textarea{
			    width: 50%;
			    min-width: 320px;
			    height: $space*5;
			    border: 1px solid $tone-black;
			    @include border-radius(4px);
			    outline: none;
			    padding: 0 ($space*2);
		}
		textarea{
			padding: $space 0;
			height: 120px;
			resize: none;
		}
		input[type=submit] {
			@extend .btn-3;
			cursor: pointer;
			margin-top: $space*2;
		}
	}
}

h3#comments{display: none;}

/* nicescroll */
.nicescroll-cursors{
	background-color: $tone-white !important;
	border: none !important;
	margin-right: 1px;
}

/* touch */
.touch{
	#sidebar{
		overflow-y: scroll;
	}
}

// @media screen and (min-width: 1200px) {}