 @import "../font-icon/css/fontello-sass";
 @import "../font-icon/css/animation-sass";

.icon{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */

	/* You can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.before-icon{
	&:before{
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		text-align: center;
		/* opacity: .8; */

		/* For safety - reset parent styles, that can break glyph codes*/
		font-variant: normal;
		text-transform: none;

		/* fix buttons height, for twitter bootstrap */
		line-height: 1em;

		/* Animation center compensation - margins should be symmetric */
		/* remove if not needed */

		/* You can be more comfortable with increased icons size */
		/* font-size: 120%; */

		/* Font smoothing. That was taken from TWBS */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* Uncomment for 3D effect */
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}
	.icon-search{&:before { content: '\e800'; } /* '' */}
	.icon-calendar{&:before { content: '\e801'; } /* '' */}
	.icon-tags{&:before { content: '\e802'; } /* '' */}
	.icon-comment{&:before { content: '\e803'; } /* '' */}
	.icon-cancel{&:before { content: '\e804'; } /* '' */}
	.icon-menu{&:before { content: '\f0c9'; } /* '' */}
	.icon-github{&:before { content: '\f113'; } /* '' */}
}

.after-icon{
	&:after{
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		text-align: center;
		/* opacity: .8; */

		/* For safety - reset parent styles, that can break glyph codes*/
		font-variant: normal;
		text-transform: none;

		/* fix buttons height, for twitter bootstrap */
		line-height: 1em;

		/* Animation center compensation - margins should be symmetric */
		/* remove if not needed */

		/* You can be more comfortable with increased icons size */
		/* font-size: 120%; */

		/* Font smoothing. That was taken from TWBS */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* Uncomment for 3D effect */
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}
	.icon-search{&:after { content: '\e800'; } /* '' */}
	.icon-calendar{&:after { content: '\e801'; } /* '' */}
	.icon-tags{&:after { content: '\e802'; } /* '' */}
	.icon-comment{&:after { content: '\e803'; } /* '' */}
	.icon-cancel{&:after { content: '\e804'; } /* '' */}
	.icon-menu{&:after { content: '\f0c9'; } /* '' */}
	.icon-github{&:after { content: '\f113'; } /* '' */}
}