@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext';
@font-face {
  font-family: 'fontello';
  src: url("../font-icon/font/fontello.eot?38281834");
  src: url("../font-icon/font/fontello.eot?38281834#iefix") format("embedded-opentype"), url("../font-icon/font/fontello.woff2?38281834") format("woff2"), url("../font-icon/font/fontello.woff?38281834") format("woff"), url("../font-icon/font/fontello.ttf?38281834") format("truetype"), url("../font-icon/font/fontello.svg?38281834#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font-icon/font/fontello.svg?38281834#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search, .top-nav nav ul li:nth-child(1) a, header nav ul li a.search {
  /* '' */ }
  .icon-search:before, .top-nav nav ul li:nth-child(1) a:before, header nav ul li a.search:before {
    content: '\e800'; }

.icon-calendar, .panel .info ul li.date {
  /* '' */ }
  .icon-calendar:before, .panel .info ul li.date:before {
    content: '\e801'; }

.icon-tags, .panel .info ul li.category {
  /* '' */ }
  .icon-tags:before, .panel .info ul li.category:before {
    content: '\e802'; }

.icon-comment, .panel .info ul li.comment {
  /* '' */ }
  .icon-comment:before, .panel .info ul li.comment:before {
    content: '\e803'; }

.icon-cancel, body.top-nav-active .top-nav ul li:nth-child(1) a, body.mobile-menu-active header .menu, .top-nav .close {
  /* '' */ }
  .icon-cancel:before, body.top-nav-active .top-nav ul li:nth-child(1) a:before, body.mobile-menu-active header .menu:before, .top-nav .close:before {
    content: '\e804'; }

.icon-menu, header .menu {
  /* '' */ }
  .icon-menu:before, header .menu:before {
    content: '\f0c9'; }

.icon-github, .top-nav nav ul li:nth-child(2) a, header nav ul li a.github {
  /* '' */ }
  .icon-github:before, .top-nav nav ul li:nth-child(2) a:before, header nav ul li a.github:before {
    content: '\f113'; }

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.before-icon:before, .top-nav nav ul li:nth-child(1) a:before, .top-nav nav ul li:nth-child(2) a:before, .top-nav .close:before, header .menu:before, header nav ul li a:before, .panel .info ul li:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.before-icon .icon-search, .top-nav nav ul li:nth-child(1) a .icon-search, .top-nav nav ul li:nth-child(2) a .icon-search, .top-nav .close .icon-search, header .menu .icon-search, header nav ul li a .icon-search, .panel .info ul li .icon-search, .before-icon .top-nav nav ul li:nth-child(1) a, .top-nav nav ul li:nth-child(1) .before-icon a, .top-nav nav ul li:nth-child(1) a a, .top-nav nav ul li:nth-child(2) a li:nth-child(1) a, .top-nav .close nav ul li:nth-child(1) a, .top-nav nav ul li:nth-child(1) .close a, header .menu .top-nav nav ul li:nth-child(1) a, .top-nav nav ul li:nth-child(1) header .menu a, .panel .info .top-nav nav ul li:nth-child(1) a, .top-nav nav .panel .info ul li:nth-child(1) a, .before-icon header nav ul li a.search, header nav ul li .before-icon a.search, .top-nav .close header nav ul li a.search, header nav ul li .top-nav .close a.search, header .menu nav ul li a.search, header nav ul li .menu a.search, header nav ul li a a.search, .panel .info header nav ul li a.search, header nav .panel .info ul li a.search {
  /* '' */ }
  .before-icon .icon-search:before, .top-nav nav ul li:nth-child(1) a .icon-search:before, .top-nav nav ul li:nth-child(2) a .icon-search:before, .top-nav .close .icon-search:before, header .menu .icon-search:before, header nav ul li a .icon-search:before, .panel .info ul li .icon-search:before, .before-icon .top-nav nav ul li:nth-child(1) a:before, .top-nav nav ul li:nth-child(1) .before-icon a:before, .top-nav nav ul li:nth-child(1) a a:before, .top-nav nav ul li:nth-child(2) a li:nth-child(1) a:before, .top-nav .close nav ul li:nth-child(1) a:before, .top-nav nav ul li:nth-child(1) .close a:before, header .menu .top-nav nav ul li:nth-child(1) a:before, .top-nav nav ul li:nth-child(1) header .menu a:before, .panel .info .top-nav nav ul li:nth-child(1) a:before, .top-nav nav .panel .info ul li:nth-child(1) a:before, .before-icon header nav ul li a.search:before, header nav ul li .before-icon a.search:before, .top-nav .close header nav ul li a.search:before, header nav ul li .top-nav .close a.search:before, header .menu nav ul li a.search:before, header nav ul li .menu a.search:before, header nav ul li a a.search:before, .panel .info header nav ul li a.search:before, header nav .panel .info ul li a.search:before {
    content: '\e800'; }

.before-icon .icon-calendar, .top-nav nav ul li:nth-child(1) a .icon-calendar, .top-nav nav ul li:nth-child(2) a .icon-calendar, .top-nav .close .icon-calendar, header .menu .icon-calendar, header nav ul li a .icon-calendar, .panel .info ul li .icon-calendar, .before-icon .panel .info ul li.date, .panel .info ul .before-icon li.date, .top-nav .close .panel .info ul li.date, .panel .info ul .top-nav .close li.date, header .menu .panel .info ul li.date, .panel .info ul header .menu li.date, .panel .info ul li li.date {
  /* '' */ }
  .before-icon .icon-calendar:before, .top-nav nav ul li:nth-child(1) a .icon-calendar:before, .top-nav nav ul li:nth-child(2) a .icon-calendar:before, .top-nav .close .icon-calendar:before, header .menu .icon-calendar:before, header nav ul li a .icon-calendar:before, .panel .info ul li .icon-calendar:before, .before-icon .panel .info ul li.date:before, .panel .info ul .before-icon li.date:before, .top-nav .close .panel .info ul li.date:before, .panel .info ul .top-nav .close li.date:before, header .menu .panel .info ul li.date:before, .panel .info ul header .menu li.date:before, .panel .info ul li li.date:before {
    content: '\e801'; }

.before-icon .icon-tags, .top-nav nav ul li:nth-child(1) a .icon-tags, .top-nav nav ul li:nth-child(2) a .icon-tags, .top-nav .close .icon-tags, header .menu .icon-tags, header nav ul li a .icon-tags, .panel .info ul li .icon-tags, .before-icon .panel .info ul li.category, .panel .info ul .before-icon li.category, .top-nav .close .panel .info ul li.category, .panel .info ul .top-nav .close li.category, header .menu .panel .info ul li.category, .panel .info ul header .menu li.category, .panel .info ul li li.category {
  /* '' */ }
  .before-icon .icon-tags:before, .top-nav nav ul li:nth-child(1) a .icon-tags:before, .top-nav nav ul li:nth-child(2) a .icon-tags:before, .top-nav .close .icon-tags:before, header .menu .icon-tags:before, header nav ul li a .icon-tags:before, .panel .info ul li .icon-tags:before, .before-icon .panel .info ul li.category:before, .panel .info ul .before-icon li.category:before, .top-nav .close .panel .info ul li.category:before, .panel .info ul .top-nav .close li.category:before, header .menu .panel .info ul li.category:before, .panel .info ul header .menu li.category:before, .panel .info ul li li.category:before {
    content: '\e802'; }

.before-icon .icon-comment, .top-nav nav ul li:nth-child(1) a .icon-comment, .top-nav nav ul li:nth-child(2) a .icon-comment, .top-nav .close .icon-comment, header .menu .icon-comment, header nav ul li a .icon-comment, .panel .info ul li .icon-comment, .before-icon .panel .info ul li.comment, .panel .info ul .before-icon li.comment, .top-nav .close .panel .info ul li.comment, .panel .info ul .top-nav .close li.comment, header .menu .panel .info ul li.comment, .panel .info ul header .menu li.comment, .panel .info ul li li.comment {
  /* '' */ }
  .before-icon .icon-comment:before, .top-nav nav ul li:nth-child(1) a .icon-comment:before, .top-nav nav ul li:nth-child(2) a .icon-comment:before, .top-nav .close .icon-comment:before, header .menu .icon-comment:before, header nav ul li a .icon-comment:before, .panel .info ul li .icon-comment:before, .before-icon .panel .info ul li.comment:before, .panel .info ul .before-icon li.comment:before, .top-nav .close .panel .info ul li.comment:before, .panel .info ul .top-nav .close li.comment:before, header .menu .panel .info ul li.comment:before, .panel .info ul header .menu li.comment:before, .panel .info ul li li.comment:before {
    content: '\e803'; }

.before-icon .icon-cancel, .top-nav nav ul li:nth-child(1) a .icon-cancel, .top-nav nav ul li:nth-child(2) a .icon-cancel, .top-nav .close .icon-cancel, header .menu .icon-cancel, header nav ul li a .icon-cancel, .panel .info ul li .icon-cancel, .before-icon body.top-nav-active .top-nav ul li:nth-child(1) a, body.top-nav-active .top-nav ul li:nth-child(1) .before-icon a, body.top-nav-active .top-nav nav ul li:nth-child(1) a a, body.top-nav-active .top-nav nav ul li:nth-child(2) a li:nth-child(1) a, body.top-nav-active .top-nav .close ul li:nth-child(1) a, body.top-nav-active .top-nav ul li:nth-child(1) .close a, header .menu body.top-nav-active .top-nav ul li:nth-child(1) a, body.top-nav-active .top-nav ul li:nth-child(1) header .menu a, header nav body.top-nav-active .top-nav ul li:nth-child(1) a a, .panel .info body.top-nav-active .top-nav ul li:nth-child(1) a, body.top-nav-active .top-nav .panel .info ul li:nth-child(1) a, .before-icon body.mobile-menu-active header .menu, body.mobile-menu-active header .before-icon .menu, .top-nav nav ul li:nth-child(1) a body.mobile-menu-active header .menu, .top-nav nav ul li:nth-child(2) a body.mobile-menu-active header .menu, .top-nav .close body.mobile-menu-active header .menu, body.mobile-menu-active header .top-nav .close .menu, body.mobile-menu-active header .menu .menu, body.mobile-menu-active header nav ul li a .menu, .panel .info ul li body.mobile-menu-active header .menu, body.mobile-menu-active header .panel .info ul li .menu, .before-icon .top-nav .close, .top-nav .before-icon .close, .top-nav nav ul li:nth-child(1) a .close, .top-nav nav ul li:nth-child(2) a .close, .top-nav .close .close, header .menu .top-nav .close, .top-nav header .menu .close, header nav ul li a .top-nav .close, .top-nav header nav ul li a .close, .panel .info ul li .top-nav .close, .top-nav .panel .info ul li .close {
  /* '' */ }
  .before-icon .icon-cancel:before, .top-nav nav ul li:nth-child(1) a .icon-cancel:before, .top-nav nav ul li:nth-child(2) a .icon-cancel:before, .top-nav .close .icon-cancel:before, header .menu .icon-cancel:before, header nav ul li a .icon-cancel:before, .panel .info ul li .icon-cancel:before, .before-icon body.top-nav-active .top-nav ul li:nth-child(1) a:before, body.top-nav-active .top-nav ul li:nth-child(1) .before-icon a:before, body.top-nav-active .top-nav nav ul li:nth-child(1) a a:before, body.top-nav-active .top-nav nav ul li:nth-child(2) a li:nth-child(1) a:before, body.top-nav-active .top-nav .close ul li:nth-child(1) a:before, body.top-nav-active .top-nav ul li:nth-child(1) .close a:before, header .menu body.top-nav-active .top-nav ul li:nth-child(1) a:before, body.top-nav-active .top-nav ul li:nth-child(1) header .menu a:before, header nav body.top-nav-active .top-nav ul li:nth-child(1) a a:before, .panel .info body.top-nav-active .top-nav ul li:nth-child(1) a:before, body.top-nav-active .top-nav .panel .info ul li:nth-child(1) a:before, .before-icon body.mobile-menu-active header .menu:before, body.mobile-menu-active header .before-icon .menu:before, .top-nav nav ul li:nth-child(1) a body.mobile-menu-active header .menu:before, .top-nav nav ul li:nth-child(2) a body.mobile-menu-active header .menu:before, .top-nav .close body.mobile-menu-active header .menu:before, body.mobile-menu-active header .top-nav .close .menu:before, body.mobile-menu-active header .menu .menu:before, body.mobile-menu-active header nav ul li a .menu:before, .panel .info ul li body.mobile-menu-active header .menu:before, body.mobile-menu-active header .panel .info ul li .menu:before, .before-icon .top-nav .close:before, .top-nav .before-icon .close:before, .top-nav nav ul li:nth-child(1) a .close:before, .top-nav nav ul li:nth-child(2) a .close:before, .top-nav .close .close:before, header .menu .top-nav .close:before, .top-nav header .menu .close:before, header nav ul li a .top-nav .close:before, .top-nav header nav ul li a .close:before, .panel .info ul li .top-nav .close:before, .top-nav .panel .info ul li .close:before {
    content: '\e804'; }

.before-icon .icon-menu, .top-nav nav ul li:nth-child(1) a .icon-menu, .top-nav nav ul li:nth-child(2) a .icon-menu, .top-nav .close .icon-menu, header .menu .icon-menu, header nav ul li a .icon-menu, .panel .info ul li .icon-menu, .before-icon header .menu, header .before-icon .menu, .top-nav nav ul li:nth-child(1) a header .menu, .top-nav nav ul li:nth-child(2) a header .menu, .top-nav .close header .menu, header .top-nav .close .menu, header .menu .menu, header nav ul li a .menu, .panel .info ul li header .menu, header .panel .info ul li .menu {
  /* '' */ }
  .before-icon .icon-menu:before, .top-nav nav ul li:nth-child(1) a .icon-menu:before, .top-nav nav ul li:nth-child(2) a .icon-menu:before, .top-nav .close .icon-menu:before, header .menu .icon-menu:before, header nav ul li a .icon-menu:before, .panel .info ul li .icon-menu:before, .before-icon header .menu:before, header .before-icon .menu:before, .top-nav nav ul li:nth-child(1) a header .menu:before, .top-nav nav ul li:nth-child(2) a header .menu:before, .top-nav .close header .menu:before, header .top-nav .close .menu:before, header .menu .menu:before, header nav ul li a .menu:before, .panel .info ul li header .menu:before, header .panel .info ul li .menu:before {
    content: '\f0c9'; }

.before-icon .icon-github, .top-nav nav ul li:nth-child(1) a .icon-github, .top-nav nav ul li:nth-child(2) a .icon-github, .top-nav .close .icon-github, header .menu .icon-github, header nav ul li a .icon-github, .panel .info ul li .icon-github, .before-icon .top-nav nav ul li:nth-child(2) a, .top-nav nav ul li:nth-child(2) .before-icon a, .top-nav nav ul li:nth-child(1) a li:nth-child(2) a, .top-nav nav ul li:nth-child(2) a a, .top-nav .close nav ul li:nth-child(2) a, .top-nav nav ul li:nth-child(2) .close a, header .menu .top-nav nav ul li:nth-child(2) a, .top-nav nav ul li:nth-child(2) header .menu a, .panel .info .top-nav nav ul li:nth-child(2) a, .top-nav nav .panel .info ul li:nth-child(2) a, .before-icon header nav ul li a.github, header nav ul li .before-icon a.github, .top-nav .close header nav ul li a.github, header nav ul li .top-nav .close a.github, header .menu nav ul li a.github, header nav ul li .menu a.github, header nav ul li a a.github, .panel .info header nav ul li a.github, header nav .panel .info ul li a.github {
  /* '' */ }
  .before-icon .icon-github:before, .top-nav nav ul li:nth-child(1) a .icon-github:before, .top-nav nav ul li:nth-child(2) a .icon-github:before, .top-nav .close .icon-github:before, header .menu .icon-github:before, header nav ul li a .icon-github:before, .panel .info ul li .icon-github:before, .before-icon .top-nav nav ul li:nth-child(2) a:before, .top-nav nav ul li:nth-child(2) .before-icon a:before, .top-nav nav ul li:nth-child(1) a li:nth-child(2) a:before, .top-nav nav ul li:nth-child(2) a a:before, .top-nav .close nav ul li:nth-child(2) a:before, .top-nav nav ul li:nth-child(2) .close a:before, header .menu .top-nav nav ul li:nth-child(2) a:before, .top-nav nav ul li:nth-child(2) header .menu a:before, .panel .info .top-nav nav ul li:nth-child(2) a:before, .top-nav nav .panel .info ul li:nth-child(2) a:before, .before-icon header nav ul li a.github:before, header nav ul li .before-icon a.github:before, .top-nav .close header nav ul li a.github:before, header nav ul li .top-nav .close a.github:before, header .menu nav ul li a.github:before, header nav ul li .menu a.github:before, header nav ul li a a.github:before, .panel .info header nav ul li a.github:before, header nav .panel .info ul li a.github:before {
    content: '\f113'; }

.after-icon:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.after-icon .icon-search, .after-icon .top-nav nav ul li:nth-child(1) a, .top-nav nav ul li:nth-child(1) .after-icon a, .after-icon header nav ul li a.search, header nav ul li .after-icon a.search {
  /* '' */ }
  .after-icon .icon-search:after, .after-icon .top-nav nav ul li:nth-child(1) a:after, .top-nav nav ul li:nth-child(1) .after-icon a:after, .after-icon header nav ul li a.search:after, header nav ul li .after-icon a.search:after {
    content: '\e800'; }

.after-icon .icon-calendar, .after-icon .panel .info ul li.date, .panel .info ul .after-icon li.date {
  /* '' */ }
  .after-icon .icon-calendar:after, .after-icon .panel .info ul li.date:after, .panel .info ul .after-icon li.date:after {
    content: '\e801'; }

.after-icon .icon-tags, .after-icon .panel .info ul li.category, .panel .info ul .after-icon li.category {
  /* '' */ }
  .after-icon .icon-tags:after, .after-icon .panel .info ul li.category:after, .panel .info ul .after-icon li.category:after {
    content: '\e802'; }

.after-icon .icon-comment, .after-icon .panel .info ul li.comment, .panel .info ul .after-icon li.comment {
  /* '' */ }
  .after-icon .icon-comment:after, .after-icon .panel .info ul li.comment:after, .panel .info ul .after-icon li.comment:after {
    content: '\e803'; }

.after-icon .icon-cancel, .after-icon body.top-nav-active .top-nav ul li:nth-child(1) a, body.top-nav-active .top-nav ul li:nth-child(1) .after-icon a, .after-icon body.mobile-menu-active header .menu, body.mobile-menu-active header .after-icon .menu, .after-icon .top-nav .close, .top-nav .after-icon .close {
  /* '' */ }
  .after-icon .icon-cancel:after, .after-icon body.top-nav-active .top-nav ul li:nth-child(1) a:after, body.top-nav-active .top-nav ul li:nth-child(1) .after-icon a:after, .after-icon body.mobile-menu-active header .menu:after, body.mobile-menu-active header .after-icon .menu:after, .after-icon .top-nav .close:after, .top-nav .after-icon .close:after {
    content: '\e804'; }

.after-icon .icon-menu, .after-icon header .menu, header .after-icon .menu {
  /* '' */ }
  .after-icon .icon-menu:after, .after-icon header .menu:after, header .after-icon .menu:after {
    content: '\f0c9'; }

.after-icon .icon-github, .after-icon .top-nav nav ul li:nth-child(2) a, .top-nav nav ul li:nth-child(2) .after-icon a, .after-icon header nav ul li a.github, header nav ul li .after-icon a.github {
  /* '' */ }
  .after-icon .icon-github:after, .after-icon .top-nav nav ul li:nth-child(2) a:after, .top-nav nav ul li:nth-child(2) .after-icon a:after, .after-icon header nav ul li a.github:after, header nav ul li .after-icon a.github:after {
    content: '\f113'; }

body {
  font-family: 'Open Sans', sans-serif; }

.regularFont, body, .panel .content > *, .comment-notes {
  font-weight: 400; }

.semiboldFont, .button, .btn-1, .btn-2, .btn-3, .comment-form > p input[type=submit], .top-nav .search-form input[type=submit], .box h3, .panel .title > *, .panel .info ul li, .new-comment div label, .page-title, #reply-title, .comment-form > p label {
  font-weight: 600; }

.boldFont {
  font-weight: 700; }

.fsize32, .panel .title > *, .page-title {
  font-size: 3.2em;
  line-height: 1.25em; }
  @media screen and (max-width: 991px) {
    .fsize32, .panel .title > *, .page-title {
      font-size: 2.6em;
      line-height: 1.5em; } }

.fsize24, .top-nav nav ul li a:before, .top-nav .close, header .menu, header nav ul li a, .box h3, .comments h2, .new-comment h2, .inner-box h2, #reply-title {
  font-size: 2.4em;
  line-height: 1.333em; }
  @media screen and (max-width: 991px) {
    .fsize24, .top-nav nav ul li a:before, .top-nav .close, header .menu, header nav ul li a, .box h3, .comments h2, .new-comment h2, .inner-box h2, #reply-title {
      font-size: 2em;
      line-height: 1.5em; } }

.fsize16, .panel .content p {
  font-size: 1.6em;
  line-height: 1.5em; }
  @media screen and (max-width: 991px) {
    .fsize16, .panel .content p {
      font-size: 1.5em;
      line-height: 1.6em; } }

.fsize15, .button, .btn-1, .btn-2, .btn-3, .comment-form > p input[type=submit], .form-group .form-input, .top-nav .search-form input[type=text], .top-nav .search-form input[type=submit], .box ul li a, .pagination ul li a, .comments ul li h4, .comments ul li cite.fn, .comments ol li h4, .comments ol li cite.fn, .comments ul li p, .comments ol li p, .comments ul li .content, .comments ol li .content, .new-comment div label, .new-comment div input[type=text], .new-comment div textarea, .page-list li a, .comment-notes, .comment-form > p label {
  font-size: 1.5em;
  line-height: 1.6em; }

.fsize13, .panel .info ul li, .comments ul li .comment-meta.commentmetadata, .comments ol li .comment-meta.commentmetadata, .comments ul li .comment-reply-link, .comments ol li .comment-reply-link {
  font-size: 1.3em;
  line-height: 1.53846153846em; }

.fsize12, .comments ul li span.date, .comments ol li span.date {
  font-size: 1.2em;
  line-height: 2em; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.button, .btn-1, .btn-2, .btn-3, .comment-form > p input[type=submit] {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;
  outline: none; }
  .button span, .btn-1 span, .btn-2 span, .btn-3 span, .comment-form > p input[type=submit] span {
    position: relative;
    z-index: 2; }
  .button:before, .btn-1:before, .btn-2:before, .btn-3:before, .comment-form > p input[type=submit]:before, .button:after, .btn-1:after, .btn-2:after, .btn-3:after, .comment-form > p input[type=submit]:after {
    content: "";
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.btn-1 {
  background-color: transparent;
  color: #fefefe;
  border: 2px solid #fefefe; }
  .no-touch .btn-1:hover, .touch .btn-1:active, .btn-1.link-touch {
    background-color: #fefefe;
    color: #27ae60; }

.btn-2 {
  background-color: #27ae60;
  color: #fefefe; }
  .btn-2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #25a159;
    z-index: 1;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .no-touch .btn-2:hover, .touch .btn-2:active, .btn-2.link-touch {
    color: #fefefe; }
    .no-touch .btn-2:hover:before, .touch .btn-2:active:before, .btn-2.link-touch:before {
      width: 100%; }

.btn-3, .comment-form > p input[type=submit] {
  background-color: #27ae60;
  color: #fefefe; }
  .no-touch .btn-3:hover, .no-touch .comment-form > p input[type=submit]:hover, .comment-form > p .no-touch input[type=submit]:hover, .touch .btn-3:active, .touch .comment-form > p input[type=submit]:active, .comment-form > p .touch input[type=submit]:active, .btn-3.link-touch, .comment-form > p input.link-touch[type=submit] {
    background-color: #25a159;
    color: #fefefe; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none; }

.form-group {
  position: relative;
  width: 100%; }
  .form-group .form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #212121;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form-group + .form-group {
    margin-top: 16px; }

html, body {
  height: 100%; }

body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  line-height: 1;
  font-weight: normal;
  background-color: #ffffff;
  overflow-x: hidden; }
  body.top-nav-active {
    overflow: hidden; }
    body.top-nav-active .band {
      opacity: 1;
      visibility: visible; }
    body.top-nav-active .top-nav {
      top: 0; }
  body.mobile-menu-active {
    overflow: hidden; }
    body.mobile-menu-active #sidebar {
      left: 0; }
    body.mobile-menu-active .band {
      opacity: 1;
      visibility: visible; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

* {
  box-sizing: border-box;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.top-nav {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 8px 32px;
  background-color: #27ae60;
  text-align: center;
  -moz-transition: all 0.2 ease-out;
  -o-transition: all 0.2 ease-out;
  -webkit-transition: all 0.2 ease-out;
  transition: all 0.2 ease-out;
  z-index: 1001; }
  .top-nav .search-form {
    position: relative;
    display: inline-block;
    width: 70%;
    z-index: 1001; }
    .top-nav .search-form input[type=text] {
      display: block;
      width: 100%;
      height: 64px;
      border: 1px solid transparent;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding-right: 64px;
      padding-left: 16px;
      color: #212121;
      outline: none; }
    .top-nav .search-form input[type=submit] {
      position: absolute;
      right: 8px;
      top: 0;
      background-color: transparent;
      color: #27ae60;
      border: none;
      border-bottom: 1px solid #27ae60;
      padding: 20px 16px 0;
      outline: none; }
  .top-nav nav {
    position: absolute;
    right: 0;
    top: 88px;
    z-index: 1001; }
    .top-nav nav ul {
      display: inline-block;
      padding: 0;
      margin: 0; }
      .top-nav nav ul li {
        float: left;
        margin-right: 8px; }
        .top-nav nav ul li a {
          position: relative;
          display: block;
          width: 64px;
          height: 64px;
          background-color: #27ae60;
          text-align: center; }
          .top-nav nav ul li a:before {
            position: absolute;
            color: #fefefe;
            left: 50%;
            margin-left: -0.5em;
            top: 50%;
            margin-top: -0.5em; }
          .no-touch .top-nav nav ul li a:hover, .touch .top-nav nav ul li a:active {
            background-color: #25a159; }
  .top-nav .close {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 24px;
    color: #fefefe;
    line-height: 80px;
    cursor: pointer; }
  @media screen and (max-width: 991px) {
    .top-nav {
      height: 64px; }
      .top-nav nav {
        display: none; }
      .top-nav .close {
        display: block;
        line-height: 64px; }
      .top-nav .search-form input[type=text] {
        height: 48px; }
      .top-nav .search-form input[type=submit] {
        padding-top: 15px;
        font-size: 1.3em; } }
  @media screen and (max-width: 639px) {
    .top-nav {
      padding: 8px 16px; }
      .top-nav .search-form {
        float: left;
        width: 80%; } }

header {
  display: block;
  position: fixed;
  left: 0;
  top: -64px;
  z-index: 1000;
  width: 100%;
  height: 64px;
  background-color: #27ae60;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  header .menu {
    float: left;
    padding: 0 24px;
    color: #fefefe;
    cursor: pointer;
    line-height: 64px; }
  header .logo {
    display: block;
    position: absolute;
    width: 200px;
    height: 64px;
    left: 50%;
    margin-left: -100px;
    background: url("../../img/logo-small.png") no-repeat center center;
    background-size: 100% auto; }
  header nav {
    float: right; }
    header nav ul {
      display: inline-block; }
      header nav ul li {
        float: left; }
        header nav ul li a {
          color: #fefefe;
          padding: 0 16px;
          line-height: 64px; }
  @media screen and (max-width: 991px) {
    header {
      top: 0; } }
  @media screen and (max-width: 639px) {
    header .logo {
      width: 120px;
      margin-left: -85px; } }

#sidebar {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  background-color: #27ae60;
  padding: 32px;
  z-index: 2; }
  #sidebar .wrapper {
    width: 320px;
    float: right; }
  #sidebar .logo {
    display: block;
    width: 100%;
    height: 120px;
    background: url("../../img/logo.png") no-repeat center center;
    background-size: 100% auto; }
  @media screen and (max-width: 1299px) {
    #sidebar {
      width: 40%; }
      #sidebar:before, #sidebar:after {
        width: 40%; } }
  @media screen and (max-width: 991px) {
    #sidebar {
      width: 320px;
      left: -320px;
      z-index: 2000;
      padding: 16px;
      height: calc(100% - 64px); }
      #sidebar .logo {
        display: none; }
      #sidebar .wrapper {
        width: 100%; } }
  @media screen and (min-width: 991px) {
    #sidebar:before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 30%;
      height: 48px;
      z-index: 1;
      background: transparent;
      background: -webkit-linear-gradient(legacy-direction(#27ae60), transparent);
      background: linear-gradient(#27ae60, transparent); }
    #sidebar:after {
      content: "";
      position: fixed;
      left: 0;
      bottom: 0;
      width: 30%;
      height: 48px;
      z-index: 1;
      background: #27ae60;
      background: -webkit-linear-gradient(legacy-direction(transparent), #27ae60);
      background: linear-gradient(transparent, #27ae60); } }

#content {
  position: relative;
  width: 100%;
  margin-left: 30%;
  float: left;
  z-index: 1;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 880px; }
  @media screen and (max-width: 1299px) {
    #content {
      margin-left: 40%;
      max-width: 540px; } }
  @media screen and (max-width: 991px) {
    #content {
      margin-left: 0;
      max-width: 100%;
      padding: 64px 16px 32px; } }

.box {
  padding: 16px 0; }
  .box h3 {
    color: #fefefe;
    padding-bottom: 9px; }
  .box ul {
    margin: 0;
    padding: 0; }
    .box ul li {
      list-style: none; }
      .box ul li a {
        display: block;
        position: relative;
        color: #fefefe;
        padding: 4px 0; }
        .box ul li a:before {
          content: "";
          position: absolute;
          left: -5%;
          top: 0;
          width: 0;
          height: 100%;
          background-color: #25a159;
          z-index: -1;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
        .no-touch .box ul li a:hover:before, .touch .box ul li a:active:before {
          width: 105%; }

.panel {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
  padding: 24px 0; }
  .panel img {
    max-width: 100%; }
  .panel .title > * {
    color: #212121; }
    .panel .title > * a {
      display: block;
      color: #212121;
      font-size: 1em; }
  .panel .info {
    display: block;
    width: 100%; }
    .panel .info ul {
      display: inline-block; }
      .panel .info ul li {
        position: relative;
        float: left;
        margin-right: 24px;
        padding-left: 24px;
        color: #aaaaaa; }
        .panel .info ul li a {
          font-size: 1em;
          color: #aaaaaa; }
        .panel .info ul li:before {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -0.5em;
          font-size: 1.3em; }
  .panel .content p {
    color: #424242; }

.pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 32px; }
  .pagination ul {
    display: inline-block; }
    .pagination ul li {
      float: left;
      margin-right: 8px; }
      .pagination ul li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #27ae60;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
        .pagination ul li a.active {
          background-color: #eeeeee; }

.comments {
  display: block;
  width: 100%; }
  .comments h2 {
    padding: 16px 0; }
  .comments ul, .comments ol {
    display: inline-block; }
    .comments ul li, .comments ol li {
      position: relative;
      color: #212121;
      padding-bottom: 16px;
      margin-bottom: 16px; }
      .comments ul li a, .comments ol li a {
        color: #27ae60; }
      .comments ul li .comment-reply-link, .comments ol li .comment-reply-link {
        color: #212121; }
      .comments ul li p, .comments ol li p {
        color: #212121; }
      .comments ul li:after, .comments ol li:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 1px;
        background-color: rgba(33, 33, 33, 0.1); }
  .comments .comment-author.vcard span.says {
    display: none; }

.new-comment {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1); }
  .new-comment h2 {
    padding: 16px 0; }
  .new-comment div {
    display: block;
    width: 100%;
    padding: 16px 0; }
    .new-comment div label {
      display: block;
      float: none;
      color: #212121;
      padding-bottom: 8px; }
    .new-comment div input[type=text], .new-comment div textarea {
      width: 50%;
      min-width: 320px;
      height: 40px;
      border: 1px solid #212121;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      outline: none;
      padding: 0 16px; }
    .new-comment div textarea {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 120px;
      resize: none; }

.band {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 1000;
  -moz-transition: all 0.2 ease-out;
  -o-transition: all 0.2 ease-out;
  -webkit-transition: all 0.2 ease-out;
  transition: all 0.2 ease-out; }

.inner-box {
  display: block;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1); }
  .inner-box h2 {
    padding: 16px 0; }
  .inner-box .box-wrapper {
    display: block;
    width: 100%;
    min-height: 80px; }

.page-title {
  position: relative;
  display: inline-block;
  color: #212121;
  padding: 0; }
  .page-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 50%;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.1); }

.page-list {
  list-style: none;
  padding: 0; }
  .page-list li {
    float: none; }
    .page-list li a {
      display: block;
      color: #27ae60;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      .no-touch .page-list li a:hover, .touch .page-list li a:active {
        color: #25a159; }

/* wordpress comment template */
.avatar.avatar-32.photo {
  display: none; }

.commentlist {
  margin: 0;
  padding: 0;
  list-style: none; }

#reply-title {
  color: #212121; }

.comment-notes {
  color: #212121; }

.comment-form > p label {
  display: block;
  float: none;
  color: #212121;
  padding-bottom: 8px; }

.comment-form > p input[type=text], .comment-form > p textarea {
  width: 50%;
  min-width: 320px;
  height: 40px;
  border: 1px solid #212121;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  padding: 0 16px; }

.comment-form > p textarea {
  padding: 8px 0;
  height: 120px;
  resize: none; }

.comment-form > p input[type=submit] {
  cursor: pointer;
  margin-top: 16px; }

h3#comments {
  display: none; }

.syntaxhighlighter {
  font-size: 1.3em !important; }

/* nicescroll */
.nicescroll-cursors {
  background-color: #fefefe !important;
  border: none !important;
  margin-right: 1px; }

/* touch */
.touch #sidebar {
  overflow-y: scroll; }
