@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin border-radius($radius) {
    -moz-border-radius:    $radius;
    -o-border-radius:      $radius;
    -webkit-border-radius: $radius;
    border-radius:         $radius;
}